.*
/.DS_Store
.vscode/*
abstracts/*
/__pycache__
debug.log
errors.log
results.txt
template.html
usage-debug.log
usage-error.log
usage-results.txt
abstracts-debug.log
abstracts-error.log
textmining-debug.log
textmining-error.log